/* 

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh; 
  
}


.login-card {
  background-color:rgba(81, 116, 151, 0.6);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.login-heading {
  font-size: 4rem;
}
.error{
display: block;
}

.login-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input.login-button {
  width: 99%; 
  height: 40px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  line-height: 1; 
  margin-top: 10px; 
}

.login-button:hover {
  background-color: #0056b3;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-card a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
.login-card a:hover{
  color: hwb(212 77% 7%);
} */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}

.login-card {
  background-color: rgba(81, 116, 151, 0.6);
  width: 60vw;
  max-width: 400px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 10vh 0; 
}


@media (max-width: 768px) {
  .login-card {
    width: 90%; 
    margin: 5vh 0; 
  }

  .login-form input {
    width: 100%;
  }
}

.login-heading {
  font-size: 4rem;
}

.error {
  display: block;
}

.login-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input.login-button {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  line-height: 1;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-card a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.login-card a:hover {
  color: hwb(212 77% 7%);
}

