
.register-container{
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}
.register-heading {
  margin-left:1vw;
  font-size: 2.5rem;
}

.register-card{
  background-color:rgba(81, 116, 151, 0.6);
  width: 60vw;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}
.register-card input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.register-button-box{
  background-color: #007bff;
border: none;
border-radius: 5px;
}

input.register-button {
  position: relative;
  width: 99%;
  height: 40px;
  
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  line-height: 1;
  margin-top: 10px;
}


.register-button:hover {
  background-color: #0056b3;
}

.register-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.register-form button:hover {
  background-color: whitesmoke;
}
.to-login a {
  color: whitesmoke;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
}
.to-login a:hover{
  color: hwb(212 77% 7%);
}


span {
  display: block;
}