.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:rgba(81, 116, 151, 0.6);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 60vw;
    height: 70vh;
    margin-top: 20px;
    text-align: center;
  }
.profile-heading{
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 800;
}
  .profile-card-userData {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    gap: 15px;
  }
  .profile-card-field{
   display:flex;
   align-items: center;
   gap: 20px;
   font-size: 1.5rem;font-weight: 500;

  }
  .profile-card-field .profile-card-field-label{
    font-size: 1.8rem;
  }
  .go-to-payment-btn{
    width: 50%;
    height: 5vh;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #04D4F0;
    
  }

  
  
  
  
  