

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh; 
  background-color: #f0f0f0; 
}


.login-card {
  background-color: #fff;
  width: 60%;
  max-width: 400px; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.login-card h1 {
  margin-bottom: 20px;
}
.error{
display: block;
}

.login-form input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input.login-button {
  width: 99%; 
  height: 40px; 
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  line-height: 1; 
  margin-top: 10px; 
}

.login-button:hover {
  background-color: #0056b3;
}

.login-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-card a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
