.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  .profile-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    height: 200px;
    margin-top: 20px;
  }
  .profile-card-userData {
    display: flex;
    flex-direction: column;
   
    gap: 20px;
  }
  .profile-card-userData div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
  }
  
  
  
  
  