
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://cdn.papershift.com/20220523200629/employee-time-tracking-the-way-you-want-it-to-work-by-Papershift-min-scaled.jpeg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 

 
}
.container{
  height: 100%;
  margin: 0 auto; 
  padding: 20px;

}



@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
