 main {
  height: 100vh;
  width: 95vw;
  margin: auto;
 display: flex;
 align-items: center;
 justify-content: center;

  }
     main .main-heading{
   font-weight: 400;
    font-size: 6rem;
    width: 40vw;
    margin-bottom: 15vh;
    margin-left: 5vw;
    
  }
  .content-card{
    height:60vh;
    width: 70vw;
    background-color:#5c707099;
    color: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 8vw;
  }
  .content{
   font-weight:500;
    font-size: 2rem;
    width: 45vw;
    margin: auto;
  }
 label{
  font-size: 1.4rem;
 }