#payment-card {
    background-color: #fff;
    width: 60%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 0 auto; 
    margin-top: 20px;
  }
  
  #payment-card h2 {
    margin-bottom: 20px;
  }
  
  #payment-card label {
    display: block;
    text-align: left; 
    margin-top: 10px;
    font-weight: bold;
  }
  
  #payment-card input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input.pay-button {
    width: 99%;
    height: 40px;
    background-color: #04D4F0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1rem;
    line-height: 1;
    margin-top: 10px;
  }
  
  .pay-button:hover {
    background-color: #0056b3;
  }
  
  #payment-card span.error {
    display: block;
    text-align: left;
    color: red;
    margin-top: 5px;
  }
  