
.pricing-card{
  max-width: 25vw;
  height:80vh;
  background-color:#2e525299;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
  border-radius: 10px;
  gap: 10px;
}

.card-heading{
  font-size: 3rem;
  
} 
.card-content{
  width: 90%;
  margin-left: 10px;
  font-size: 1.6rem;
}
.price{
  margin-top: 20px;
  font-size: 40px;
}
.description{
  font-size: 1.3rem;
  margin-top: 10px;
  text-align: center;
}
.include{
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 20px;
}

.includes-list {
  list-style:outside; 
}
.pricingCard-buy-btn {
  width: 6vw;
  background-color: #059DC0;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
margin-top: 70vh;
}

.pricingCard-buy-btn:hover {
  background-color: #0056b3;
}








  


  

  
  
 
  


 
  
 


